.TodoItem {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  font-weight: normal;
  background-color: #0a155a;
  border-radius: 10px;
  box-shadow: 0 0 15px 0 rgba(10,21,90,.6);
  height: auto;
  margin: 20px auto;
  color: #fff;
}

.TodoItem-p {
  margin: 24px 0 24px 24px;
  width: calc(100% - 120px);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
.TodoItem-p--complete {
  text-decoration: line-through;
}
