body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  font-size: 28px;
  text-align: center;
  margin: 0;
  padding: 40px;
  font-weight: 400;
}

.createTodoButton {
  background-color: skyblue;
  color: white;

}

.todoCouonter span {
  font-weight: 700;;
}

.icon {}

.todoItem {}

.todoItem p {}

.todoSearch {}


.icon-check--active {
  color: red;
}
.todoItem-p--completed {
  text-decoration:line-through;
}
.TodoItem {
  background-color: #FAFAFA;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
}

.TodoItem-p {
  margin: 24px 0 24px 24px;
  width: calc(100% - 120px);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
.TodoItem-p--complete {
  text-decoration: line-through;
}

.Icon-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  font-size: 24px;
  font-weight: bold;
  /* background-color: #CCC; */
}

.Icon-container-check {
  position: absolute;
  left: 12px;
}
.Icon-container-check--active  .Icon-svg {
  fill: #4caf50;
}

.Icon-container-delete {
  position: absolute;
  top: -24px;
  right: 0;
}
.Icon-container-delete:hover .Icon-svg {
  fill: red;
}
.Icon-container-check:hover .Icon-svg {
  fill: green;
}
.Icon-svg {
  width: 24px;
  height: 24px;
}
.TodoList {
  margin: 0;
  padding: 0 0 56px 0;
  list-style: none;
}
.TodoCounter {
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding: 48px;
  font-weight: normal;
}

.TodoCounter span {
  font-weight: bold;
}
.TodoSearch {
  background: #F9FBFC;
  border-radius: 2px;
  border: 2px solid #202329;
  margin: 0 24px;
  height: 64px;
  width: calc(100% - 62px);
  font-size: 24px;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 400;
  color: #1E1E1F;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
}

.TodoSearch::placeholder {
  color: #A5A5A5;
  font-family: 'Montserrat';
  font-weight: 400;
}

.TodoSearch:focus {
  outline-color: #61DAFA;
}
.CreateTodoButton {
  background-color: #61DAFA;
  box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
  border: none;
  cursor: pointer;
  font-size: 22px;
  position: fixed;
  bottom: 24px;
  right: 24px;
  font-weight: bold;
  color: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(0);
  transition: .3s ease;
  padding: 30px 50px;
}

.CreateTodoButton:hover {
  transform: rotate(224deg);
}