.TodoSearch {
  display: block;
  background: #3559d8;
  border-radius: 20px;
  border: none;
  height: 60px;
  width: calc(100% - 62px);
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #fff;
  box-shadow: inset 0px 0px 25px 8px rgba(34, 61, 160, 0.6);
}

.TodoSearch::placeholder {
  color: rgb(255, 162, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.TodoSearch:focus {
  outline-color: #61DAFA;
}
